# Copy to .env or set as environment variables on Render
TELEGRAM_TOKEN=8260742606:AAH5wqWoA4df7LX_HyrYFVt6oSb-c8Ujtmw
CHAT_ID=@Signalsforlycans
MEXC_API_KEY=mx0vgl5dkVJcXR2GVO
MEXC_API_SECRET=7372016e4e9d43578b20ae4a9fe0cfa6
DEFAULT_LEVERAGE=50
MAX_SYMBOLS=200
MIN_VOLUME_USD=1000
INTERVAL_SECONDS=900

